@font-face {
     font-family: 'Kanit';
     src: url('../fonts/Kanit/Kanit-Thin.eot');
     src: url('../fonts/Kanit/Kanit-Thin.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kanit/Kanit-Thin.svg#Kanit-Thin') format('svg'),
          url('../fonts/Kanit/Kanit-Thin.ttf') format('truetype'),
          url('../fonts/Kanit/Kanit-Thin.woff') format('woff'),
          url('../fonts/Kanit/Kanit-Thin.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'Kanit';
     src: url('../fonts/Kanit/Kanit-Regular.eot');
     src: url('../fonts/Kanit/Kanit-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kanit/Kanit-Regular.svg#Kanit-Regular') format('svg'),
          url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype'),
          url('../fonts/Kanit/Kanit-Regular.woff') format('woff'),
          url('../fonts/Kanit/Kanit-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Kanit';
     src: url('../fonts/Kanit/Kanit-Medium.eot');
     src: url('../fonts/Kanit/Kanit-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kanit/Kanit-Medium.svg#Kanit-Medium') format('svg'),
          url('../fonts/Kanit/Kanit-Medium.ttf') format('truetype'),
          url('../fonts/Kanit/Kanit-Medium.woff') format('woff'),
          url('../fonts/Kanit/Kanit-Medium.woff2') format('woff2');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'Kanit';
     src: url('../fonts/Kanit/Kanit-SemiBold.eot');
     src: url('../fonts/Kanit/Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kanit/Kanit-SemiBold.svg#Kanit-SemiBold') format('svg'),
          url('../fonts/Kanit/Kanit-SemiBold.ttf') format('truetype'),
          url('../fonts/Kanit/Kanit-SemiBold.woff') format('woff'),
          url('../fonts/Kanit/Kanit-SemiBold.woff2') format('woff2');
     font-weight: 600;
     font-style: normal;
}

@font-face {
     font-family: 'Kanit';
     src: url('../fonts/Kanit/Kanit-Bold.eot');
     src: url('../fonts/Kanit/Kanit-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Kanit/Kanit-Bold.svg#Kanit-Bold') format('svg'),
          url('../fonts/Kanit/Kanit-Bold.ttf') format('truetype'),
          url('../fonts/Kanit/Kanit-Bold.woff') format('woff'),
          url('../fonts/Kanit/Kanit-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
}

.m-icon {
     width: 16px;
     height: 16px;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     display: inline-block;
}
.m-icon-20 {
     width: 20px !important;
     height: 20px !important;
}
.m-icon-45 {
     width: 45px !important;
     height: 45px !important;
}
.m-icon-white {
     filter: brightness(0) invert(1);
}
.m-icon-black {
     filter: grayscale(100%);
}
.m-icon-bed {
     background-image: url('../images/icon-bed.png');
}
.m-icon-build {
     background-image: url('../images/icon-build.svg');
}
.m-icon-building {
     background-image: url('../images/icon-building.png');
}
.m-icon-circle-email {
     background-image: url('../images/icon-circle-email.png');
}
.m-icon-circle-location {
     background-image: url('../images/icon-circle-location.png');
}
.m-icon-circle-phone {
     background-image: url('../images/icon-circle-phone.png');
}
.m-icon-close {
     background-image: url('../images/icon-close.png');
}
.m-icon-close-white {
     background-image: url('../images/icon-close-white.png');
}
.m-icon-close-blue {
     background-image: url('../images/icon-close-blue.png');
}
.m-icon-dropdown {
     background-image: url('../images/icon-dropdown.png');
}
.m-icon-download {
     background-image: url('../images/icon-download.svg');
}
.m-icon-eye {
     background-image: url('../images/icon-eye.png');
}
.m-icon-fb {
     background-image: url('../images/icon-fb.png');
}
.m-icon-like {
     background-image: url('../images/icon-like.png');
}
.m-icon-line {
     background-image: url('../images/icon-line.png');
}
.m-icon-link {
     background-image: url('../images/icon-link.png');
}
.m-icon-list {
     background-image: url('../images/icon-list.png');
}
.m-icon-location {
     background-image: url('../images/icon-location.png');
}
.m-icon-map {
     background-image: url('../images/icon-map.png');
}
.m-icon-no-eye {
     background-image: url('../images/icon-no-eye.png');
}
.m-icon-noti {
     background-image: url('../images/icon-noti.svg');
}
.m-icon-organizer {
     background-image: url('../images/icon-organizer.png');
}
.m-icon-phone {
     background-image: url('../images/icon-phone.png');
}
.m-icon-search {
     background-image: url('../images/icon-search.svg');
}
.m-icon-tw {
     background-image: url('../images/icon-tw.png');
}
.m-icon-vdo {
     background-image: url('../images/icon-vdo.png');
}
.m-icon-yt {
     background-image: url('../images/icon-yt.png');
}
.m-icon-calendar {
     background-image: url('../images/icon-calendar.svg');
}
.m-icon-address {
     background-image: url('../images/icon-address.svg');
}
.m-icon-like-white {
     background-image: url('../images/icon-like-white.svg');
}
.m-icon-like-white.active {
     background-image: url('../images/icon-like-white-active.svg');
}
.m-icon-user {
     background-image: url('../images/icon-user.png');
}
.m-icon-near {
     background-image: url('../images/icon-near.png');
}
.m-icon-meta {
     background-image: url('../images/icon-meta.png');
}
.m-icon-location2 {
     background-image: url('../images/icon-location2.png');
}
.m-icon-docs {
     background-image: url('../images/icon-docs.png');
}
.m-icon-chat {
     background-image: url('../images/icon-chat.png');
}
.m-icon-chat-green {
     background-image: url('../images/icon-chat-green.png');
}
.m-icon-vdocall {
     background-image: url('../images/icon-vdocall.png');
}
.m-icon-wifi {
     background-image: url('../images/icon-wifi.png');
}
.m-icon-sound1 {
     background-image: url('../images/icon-sound1.png');
}
.m-icon-sound2 {
     background-image: url('../images/icon-sound2.png');
}
.m-icon-photo1 {
     background-image: url('../images/icon-photo1.png');
}
.m-icon-photo2 {
     background-image: url('../images/icon-photo2.png');
}
.m-icon-photo3 {
     background-image: url('../images/icon-photo3.png');
}
.m-icon-car {
     background-image: url('../images/icon-car.png');
}
.m-icon-restaurant {
     background-image: url('../images/icon-restaurant.png');
}
.m-icon-drink {
     background-image: url('../images/icon-drink.png');
}
.m-icon-bar {
     background-image: url('../images/icon-bar.png');
}
.m-icon-club {
     background-image: url('../images/icon-club.png');
}
.m-icon-park {
     background-image: url('../images/icon-park.png');
}
.m-icon-service {
     background-image: url('../images/icon-service.png');
}
.m-icon-change {
     background-image: url('../images/icon-change.png');
}
.m-icon-disabled {
     background-image: url('../images/icon-disabled.png');
}
.m-icon-food {
     background-image: url('../images/icon-food.png');
}
.m-icon-food-type {
     background-image: url('../images/icon-food-type.png');
}
.m-icon-check {
     background-image: url('../images/icon-check.png');
}
.m-icon-beer {
     background-image: url('../images/icon-beer.png');
}
.m-icon-reserved {
     background-image: url('../images/icon-reserved.png');
}
.m-icon-user-group {
     background-image: url('../images/icon-user-group.png');
}
.m-icon-credit {
     background-image: url('../images/icon-credit.png');
}
.m-icon-road {
     background-image: url('../images/icon-road.png');
}
.m-icon-sea {
     background-image: url('../images/icon-sea.png');
}
.m-icon-catering {
     background-image: url('../images/icon-catering.png');
}
.m-icon-call {
     background-image: url('../images/icon-call.png');
}
.m-icon-upload {
     background-image: url('../images/icon-upload.svg');
}
.m-icon-menu-docs {
     background-image: url('../images/icon-menu-docs.svg');
}
.m-icon-menu-account {
     background-image: url('../images/icon-menu-account.svg');
}
.m-icon-menu-chat {
     background-image: url('../images/icon-menu-chat.svg');
}
.m-icon-menu-like {
     background-image: url('../images/icon-menu-like.svg');
}
.m-icon-menu-news {
     background-image: url('../images/icon-menu-news.svg');
}
.m-icon-menu-profile {
     background-image: url('../images/icon-menu-profile.svg');
}
.m-icon-menu-vdo {
     background-image: url('../images/icon-menu-vdo.svg');
}
.m-icon-menu-plan {
     background-image: url('../images/icon-menu-plan.svg');
}
.m-icon-plus {
     background-image: url('../images/icon-plus.svg');
}
.m-icon-edit {
     background-image: url('../images/icon-edit.svg');
}
.m-icon-check-blue {
     background-image: url('../images/icon-check-blue.png');
}
.m-icon-upload-photo {
     background-image: url('../images/icon-upload-photo.png');
}
.m-icon-upload-file {
     background-image: url('../images/icon-upload-file.png');
}
.m-icon-vdo-sound {
     background-image: url('../images/icon-vdo-sound.svg');
}
.m-icon-vdo-photo {
     background-image: url('../images/icon-vdo-photo.svg');
}
.m-icon-heart {
     background-image: url('../images/icon-heart.png');
}
.m-icon-help {
     background-image: url('../images/icon-help.png');
}
.m-icon-info {
     background-image: url('../images/icon-info.png');
}
.m-icon-mice {
     background-image: url('../images/icon-mice.png');
}
.m-icon-mice-silver {
     background-image: url('../images/icon-mice-silver.png');
}
.m-icon-mice-gold {
     background-image: url('../images/icon-mice-gold.png');
}
.m-icon-mice-platinum {
     background-image: url('../images/icon-mice-platinum.png');
}
.m-icon-filter {
     background-image: url('../images/icon-filter.svg');
}
.m-icon-messenger {
     background-image: url('../images/icon-messenger.svg');
}
.m-icon-chat-orange {
     background-image: url('../images/icon-chat-orange.png');
}
.m-icon-table {
     background-image: url('../images/icon-table.svg');
}
.m-icon-award {
     background-image: url('../images/icon-award.svg');
}
.m-icon-food-action {
     background-image: url('../images/icon-food-action.png');
}